@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
    --white-color:#fff;
    --lobster:'Lobster Two', sans-serif;
    --p-color:#103741;
    --tomato-color:tomato;
}
button{
    border: none;
    outline: none;
    font-family: var(--poppins);
}
.banner{
    padding-inline: 9rem;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.banner-text p{
    font-size: 1.8rem;
    width: 70%;;
}
.banner-text h1{
    width: 70%;
    font-family: var(--poppins);
    font-size: 5rem;
    color: #253b70;
}
.kid-image{
    position: relative;
}
.kid-image img{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.kid-img-main{
    margin-block:7rem;
    width: 500px;
    border-radius: 12px;
}
.banner-text button{
    padding: 1rem 3rem;
    border-radius: 36px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--poppins);
    background-color: var(--tomato-color);
    color: var(--white-color);
    margin: 1rem;
    transition: all 0.2s ease-in;
}
.banner-text button:hover{
    color: var(--tomato-color);
    background-color: transparent;
    border: 1px solid var(--tomato-color);
}
.gallery{
   transform: translateY(3rem);
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    gap: 1rem;
    border-bottom: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 5px 5px #ccc;
    z-index: 111111111111;
}
.gallery p{
    padding: 1rem;
}
.gallery p:hover{
    background-color: var(--tomato-color);
    border-radius: 8px;
}
.gallery button{
    outline: none;
    padding: 1rem;
}
.gallery-dropdown-1{
    top:0;
    transform: translateY(2rem);
    position: absolute;
}
.ball-compo{
    background-color: rgba(255, 255, 255, 0.531);
    border: 1px solid var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    border-radius: 26px;
    right: 10%;
    height: 180px;
    box-shadow: 0 0 2px #ccc;
    transform: translateY(1rem);
}
.teacher-compo{
    padding: 1rem;
    top:60%;
    right: 70%;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.902);
    border: 2px solid var(--white-color);
    height: 190px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teacher-compo img{
    transform: translateY(-1.3rem);
}
.teacher-compo p{
    text-align: center;
    width: 90%;
    transform: translateY(-5rem);
    font-size: 3rem;
    font-weight: 700;
    color: var(--p-color);
}
.teacher-compo img{
    width: fit-content;
}
.ball-compo img{
    width: fit-content;
    transform: translateY(-2rem);
}
.ball-compo p{
    width: 50%;
    transform: translateY(-4rem);
    font-size: 3rem;
    font-weight: 700;
    color: var(--p-color);
}
.home{
    background-color: var(--white-color);
}
.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--tomato-color);
    flex-direction: column;
    padding-block: 8rem;
    gap: 1rem;
    color: #fff;
}
.heading{
    text-align: center;
    width: 50%;
}
.heading p{
    font-weight: 700;
    font-size: 4rem;
    color:var(--white-color);
}
.feature-para{
    display: flex;
    text-align: center;
    width: 50%;
    color:var(--white-color);
    font-weight: 500;
}
.feature-cards{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
}
.environment-card{
    padding: 2rem;
    background-color: var(--white-color);
    color:#425175;
    border-radius: 2.6rem;
}

.environment-card-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-white{
    color:var(--white-color)
}

.environment-card-p h3{
    width: 70%;
    color:#253b70;
    font-size: 3rem;
}

.environment-card{
    position: relative;
}
.environment-card:nth-child(1){
    background-color: #253b70;
}
.environment-card:nth-child(3){
    background-color: #253b70;
}
.learn-more-btn button{
    color: var(--white-color);
    background-color: #253b70;
    padding: 1.5rem 2rem;
    letter-spacing: 1px;
    border-radius: 3.2rem;
    font-weight: 700;
    font-size: 1.6rem;    
    transition: all 0.3s ease-in;

}
.learn-more-btn button:hover{    
    color:#253b70;
    background-color: var(--white-color);
}
.oppurtunity-section{
    padding-block: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oppurtunity-heading{
    color: #253b70;
    font-size: 4rem;
    font-weight: 700;
    width: 40%;
    text-align: center;
}
.opp-head{
    color: var(--tomato-color);
}
.oppurtunity-features{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.oppurtunity-feature h3{
    color: #253b70;
    font-size: 3rem;
    width: 50%;
}
.all-features{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline-start: 10rem;
}
.oppurtunity-image{
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: rgba(255, 99, 71, .300)
}
.oppurtunity-image img{
    width: 100px;
    height: 100px;
}
.oppurtunity-feature p{
    width: 70%;
    color: #253b70;
}
.look-around-section{
    background-color: var(--tomato-color);
    padding: 10rem 17rem;
    display: flex;
    justify-content: space-between   ;
    align-items: center;
}
.look-around-img{
    display: flex;
}
.look-around-para h2{
    width: 80%;
    font-size: 4rem;
}
.look-around-para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    font-size: 1.8rem;
}
.look-around-btns{
    margin-top: 3rem;
    display: flex;
    gap: 6rem;
   
}
.look-around-btns button{
    padding: 1rem 2rem; 
    border-radius: 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
}
.look-around-btns button:nth-child(1){
    background-color: #253b70;
    color: var(--white-color);
    transition: all 0.2s ease-in;
}
.look-around-btns button:nth-child(1):hover{
    background-color: var(--white-color);
    color:#253b70;
}
.look-around-btns button:nth-child(2){
    color: var(--white-color);
    background: #253b70;
    border: 1px solid #253b70;
    transition: all 0.3s ease-in;
}
.look-around-btns button:nth-child(2):hover{
background-color: var(--white-color);
color: var(--tomato-color);
}

/*admission*/
.admission-background{
    padding-block: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-image:linear-gradient(rgba(248, 58, 58, 0.2), rgba(197, 35, 35, 0.3)),
    url('admission-cover.webp');
    background-repeat: no-repeat;
    background-position:bottom;
    background-origin: padding-box;
    background-clip: padding-box;
    color: var(--white-color);
    background-size: cover;
}
.admission-background h1{
    font-family: var(--poppins);
    font-size: 6rem;
}
.admission-background p{
    font-size: 1.8rem;
}
.form-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.form-admission {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 2rem;
    
}
.form-admission input[type="text"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 600px;
}
.form-admission input[type="number"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 600px;
    padding: 2rem;
}
.form-admission input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.form-admission input[type="submit"]:hover{
    border-radius: 3.2rem;
    background-color: rgba(255, 99, 71, 0.543);

}
.admission-steps{
    align-items: center;
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.admission-card{
    box-shadow: 0 0 4px #ccc;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.6rem;
    gap: 1rem;
}
.admission-card p{
    text-align: center;
    width: 70%;
    color: #425175;
    font-size: 1.8rem;
}
.admission-card h1{
    color: var(--tomato-color);
    border: 1px dashed #253b70;
    padding: .4rem 2rem;
    border-radius: 50%;
}
.admission-card h3{
    font-size: 2.4rem;
    color: #253b70;
}
.appoint-head{
    padding-top: 10rem;
    margin-bottom: 2rem;
}
.appoint-head h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #4a79e4;
}
.appoint-head h1 span{
    margin-left: 1rem;
color: var(--tomato-color);
}
.mobile-navbar-btn{
    display: none;
    .close-outline{
        display: none;
    }
}
.mobile-navbar-btn[name="close-outline"]{
    display: none;
}
/*Gallery-section*/
.gallery-heading{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
.gallery-our{
    color:#253b70;
}
.gallery-gallery{
    color: var(--tomato-color);
}
.gallery-photos{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.images{
    margin-block: 6rem;
  display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 2rem;
}
.image img{
    width: 400px;
    cursor: pointer;
  border-radius: 2rem;
}
.slider-wrap{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #000000de;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.slider-wrap .btn-prev,.btn-next,.btn-close{
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 999;
    color: #fff;
    background-color: #00000041;
    padding: .2rem;

}
.slider-wrap .btn-prev , .btn-next,.btn-close:hover{
    opacity: 1;
    background-color: #00000088;
   
}
.slider-wrap .btn-prev{
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}
.slider-wrap .btn-next{
    top:50%;
    transform: translateY(-50%);
    right: 40px;
}
.slider-wrap .btn-close{
    top:10%;
    right: 5%;
    font-size: 5rem;
}
.fullscreen-img{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullscreen-img img{
    width: 500px;
    height: fit-content;
    pointer-events: none;
}
/* ABOUT US */
.about-photo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://t3.ftcdn.net/jpg/02/83/86/76/240_F_283867624_9bdcQa1ReMgcT8UHvz46ZwytkyjHCmeC.jpg');
    padding: 13rem 4rem;   
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-weight: 500;
    background-position: top;
    box-shadow: 0 0 10px #ccc;
}
.about-photo h1{
    font-size: 6rem;
    padding: 1rem;
    color: var(--tomato-color );
}
.about-photo p{
    width: 50%;
    color: #1044bd;
    text-align: center;
}
.welcome-about{
    padding:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.welcome-photo img{
    margin : 10rem;
    transform: scale(2);
    width: 280px;
    border-radius: .6rem;
    height: 250px;
}
.welcome-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    color: #253b70;
}
.welcome-content h1{
    font-size: 4.4rem;
}
.welcome-p p{
    width: 80%;
    font-weight: 500;
}
.welcome-p-content{
    width: 80%;
    margin-top: 3rem;
}
.tick{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--tomato-color);
    padding: 1.5rem;
    position: relative;

}
.welcome-check-parent{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tick-content{
    position: absolute;
    top: -15%;
    left: 10%;
    font-size: 2.5rem;
}
.welcome-check-here{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.values-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.values-content h1{
    font-size: 4rem;
}
.values-content p{
    color: #253b70;
    font-weight: 500;
    text-align: center;
    width: 50%;
}
@media screen and (max-width:1224px) {
    .banner{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-inline: 2rem;
      }
      .form-area{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:5rem;
      }
}
@media screen and (max-width:1024px) {
    html,body{
        margin:0;
        padding:0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      html{
        font-size: 58%;
      }
     
    .feature-cards{
        flex-wrap: wrap;
    }
    .look-around-section{
        padding: 10rem 5rem;
    }
    .look-around-section{
        flex-direction: column;
    }
    .all-features{
        width: 100%;
        padding-inline-start: 1rem;
        align-items: flex-start;
    }
}
  @media screen and (max-width:830px) {

    .feature-cards{
        flex-direction: column;
    }
   
    .look-around-section img{
        width: 35rem;
    }
   
    

  .banner-text h1{
    font-size: 3.5rem;
    width: 100%;
    padding: 0rem;
}
.banner-text p{
    width: 100%;
}
.look-around-btns{
    flex-direction: column;
}
.oppurtunity-heading{
    width: 80%;
    font-size: 3.5rem;
}
.heading{
    width: 80%;
   
}
.heading p{
    font-size: 3.5rem;
}
.look-around-para h2{
    width: 100%;
}
.footer{
    flex-direction: column;
    gap: 2rem;
 }
}

  @media screen and (max-width:650px) {
.heading{
    width: 100%;
}
.heading p{
    font-size: 3.5rem;
}
.feature-para{
    width: 100%;
}
.kid-img-main{
    width: 320px;
}
  }
@media screen and (max-width:400px) {
    html{
        font-size: 45%;
    }
    .banner{
        padding-inline: 0rem;
    }
    
}
  