@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--tomato-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--tomato-color);
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

:root{
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
    --white-color:#fff;
    --lobster:'Lobster Two', sans-serif;
    --p-color:#103741;
    --tomato-color:tomato;
}
button{
    border: none;
    outline: none;
    font-family: var(--poppins);
}
.banner{
    padding: 2.5rem 10rem;
    display: flex;
}
.banner-text{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.banner-text p{
    font-size: 1.8rem;
    width: 70%;;
}
.banner-text h1{
    width: 60%;
    font-family: var(--poppins);
    font-size: 5rem;
    color: #253b70;
}

.kid-img-main{
    width: 380px;
    border-radius: 12px;
}
.banner-text button{
    padding: 1rem 3rem;
    border-radius: 36px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--poppins);
    background-color: var(--tomato-color);
    color: var(--white-color);
    margin: 1rem;
    transition: all 0.2s ease-in;
}
.banner-text button:hover{
    background-color: #253b70;
    border: 1px solid var(--tomato-color);
}
.gallery{
   transform: translate(-5rem,6rem);
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 5px #ccc;
}
.gall-dropdown{
    transform: translateY(6rem);
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    gap: 1rem;
    border-radius: 8px;
    z-index: 1111;
    box-shadow: 0 5px 5px #ccc;
}
.gallery p{
    text-align: center;
    padding: 1rem;
    width: 150px;
}
.gall-image{
    width: 300px;
   
}
.gallery p:hover{
    background-color: var(--tomato-color);
    border-radius: 8px;
}
.gallery button{
    outline: none;
    padding: 1rem;
}
.gallery-dropdown-1{
    z-index: 11111111;
    position: absolute;
    top: -21px;
}
.ball-compo{
    background-color: rgba(255, 255, 255, 0.531);
    border: 1px solid var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    border-radius: 26px;
    right: 10%;
    height: 180px;
    box-shadow: 0 0 2px #ccc;
    transform: translateY(1rem);
}
.teacher-compo{
    padding: 1rem;
    top:60%;
    right: 70%;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.902);
    border: 2px solid var(--white-color);
    height: 190px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teacher-compo img{
    transform: translateY(-1.3rem);
}
.teacher-compo p{
    text-align: center;
    width: 90%;
    transform: translateY(-5rem);
    font-size: 3rem;
    font-weight: 700;
    color: var(--p-color);
}
.teacher-compo img{
    width: fit-content;
}
.ball-compo img{
    width: fit-content;
    transform: translateY(-2rem);
}
.ball-compo p{
    width: 50%;
    transform: translateY(-4rem);
    font-size: 3rem;
    font-weight: 700;
    color: var(--p-color);
}
.home{
    background-color: var(--white-color);
}
.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--tomato-color);
    flex-direction: column;
    padding-block: 8rem;
    gap: 1rem;
    color: #fff;
}
.heading{
    text-align: center;
    width: 50%;
}
.heading p{
    font-weight: 700;
    font-size: 4rem;
    color:var(--white-color);
}
.feature-para{
    display: flex;
    text-align: center;
    width: 50%;
    color:var(--white-color);
    font-weight: 500;
}
.feature-cards{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
}
.environment-card{
    padding: 2rem;
    background-color: var(--white-color);
    color:#425175;
    border-radius: 2.6rem;
}

.environment-card-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-white{
    color:var(--white-color)
}

.environment-card-p h3{
    width: 70%;
    color:#253b70;
    font-size: 3rem;
}

.environment-card{
    position: relative;
}
.environment-card:nth-child(1){
    background-color: #253b70;
}
.environment-card:nth-child(3){
    background-color: #253b70;
}
.learn-more-btn button{
    color: var(--white-color);
    background-color: #253b70;
    padding: 1.5rem 2rem;
    letter-spacing: 1px;
    border-radius: 3.2rem;
    font-weight: 700;
    font-size: 1.6rem;    
    transition: all 0.3s ease-in;

}
.learn-more-btn button:hover{    
    color:#253b70;
    background-color: var(--white-color);
}
.oppurtunity-section{
    padding-block: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oppurtunity-heading{
    color: #253b70;
    font-size: 4rem;
    font-weight: 700;
    width: 40%;
    text-align: center;
}
.opp-head{
    color: var(--tomato-color);
}
.oppurtunity-features{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.oppurtunity-feature h3{
    color: #253b70;
    font-size: 3rem;
    width: 50%;
}
.all-features{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline-start: 10rem;
}
.oppurtunity-image{
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: rgba(255, 99, 71, .300)
}
.oppurtunity-image img{
    width: 100px;
    height: 100px;
}
.oppurtunity-feature p{
    width: 70%;
    color: #253b70;
}
.look-around-section{
    background-color: var(--tomato-color);
    padding: 10rem 17rem;
    display: flex;
    justify-content: space-between   ;
    align-items: center;
}
.look-around-img{
    display: flex;
}
.look-around-para h2{
    width: 80%;
    font-size: 4rem;
}
.look-around-para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    font-size: 1.8rem;
}
.look-around-btns{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
   
}
.look-around-btns button{
    width: 100%;
    padding: 1rem 2rem; 
    border-radius: 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
}
.look-around-btns button:nth-child(1){
    background-color: #253b70;
    color: var(--white-color);
    transition: all 0.2s ease-in;
}
.look-around-btns button:nth-child(1):hover{
    background-color: var(--white-color);
    color:#253b70;
}
.look-around-btns button:nth-child(2){
    color: var(--white-color);
    background: #253b70;
    border: 1px solid #253b70;
    transition: all 0.3s ease-in;
}
.look-around-btns button:nth-child(2):hover{
background-color: var(--white-color);
color: var(--tomato-color);
}

/*admission*/
.admission-background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-image:linear-gradient(rgba(74, 2, 2, 0.1), rgba(27, 4, 4, 0.1)),
    url('admission-bg.png');
    background-repeat: no-repeat;
    background-position:center;
    background-origin: padding-box;
    background-clip: padding-box;
    color: var(--white-color);
    background-size: cover;
}
.admission-text{
    display: flex;
    flex-direction: column;
    padding-block: 15rem;
}
.admission-background h1{
    padding-block: 1rem;

    font-family: var(--poppins);
    font-size: 6rem;
}
.admission-background p{
    font-size: 1.8rem;
}
.form-heading1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
    font-size: 2rem;
}
.form-admission {
    margin-block: 2rem;
    margin-block-end: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 2rem;
    
}
.form-admission input[type="text"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 500px;

}.form-admission input[type="email"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;

    width: 500px;
}
.form-admission input[type="number"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 500px;
    padding: 2rem;
}
.form-admission input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.form-admission input[type="submit"]:hover{
    border-radius: 3.2rem;
    background-color: rgba(255, 99, 71, 0.543);

}
.form-error{
    color:red;
    padding: .3rem 2rem;
}
.admission-steps{
    align-items: center;
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.admission-card{
    box-shadow: 0 0 4px #ccc;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.6rem;
    gap: 1rem;
}
.admission-card p{
    text-align: center;
    
    color: #425175;
    font-size: 1.8rem;
}
.admission-card h1{
    color: var(--tomato-color);
    border: 1px dashed #253b70;
    padding: .4rem 2rem;
    border-radius: 50%;
}
.admission-card h3{
    font-size: 2.4rem;
    color: #253b70;
    width: 100%;
    text-align: center;
}
.appoint-head{
    padding-top: 10rem;
    margin-bottom: 2rem;
}
.appoint-head h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #4a79e4;
}
.appoint-head h1 span{
    margin-left: 1rem;
color: var(--tomato-color);
}
.mobile-navbar-btn{
    display: none;
    .close-outline{
        font-size: 3rem;
        display: none;
    }
}
.mobile-navbar-btn[name="close-outline"]{
    display: none;
}
/*Gallery-section*/
.gallery-heading{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
.gallery-our{
    color:#253b70;
}
.gallery-gallery{
    color: var(--tomato-color);
}
.gallery-photos{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.images{
    margin: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}
.images a{

    margin: 2rem;
}
.image img{
    width: 400px;
    height: fit-content;
    cursor: pointer;
  border-radius: 2rem;
}
.slider-wrap{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #000000de;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.slider-wrap .btn-prev,.btn-next,.btn-close{
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 999;
    color: #fff;
    background-color: #00000041;
    padding: .2rem;
    border-radius: 50%;
    padding: 2rem;

}
.slider-wrap .btn-prev , .btn-next,.btn-close:hover{
    opacity: 1;
    background-color: #00000088;
   
}
.slider-wrap .btn-prev{
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}
.slider-wrap .btn-next{
    top:50%;
    transform: translateY(-50%);
    right: 40px;
}
.slider-wrap .btn-close{
    top:10%;
    right: 5%;
    font-size: 5rem;
}
.fullscreen-img{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullscreen-img img{
    border-radius: 8px;
    width: 500px;
    height: fit-content;
    pointer-events: none;
}
/* ABOUT US */
.about-us{
    position: relative;;
}
.about-photo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://t3.ftcdn.net/jpg/02/83/86/76/240_F_283867624_9bdcQa1ReMgcT8UHvz46ZwytkyjHCmeC.jpg');
    padding: 13rem 4rem;   
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-weight: 500;
    background-position: top;
    box-shadow: 0 0 10px #ccc;
}
.about-photo h1{
    font-size: 6rem;
    padding: 1rem;
    color: var(--tomato-color );
}
.about-photo p{
    width: 50%;
    font-weight: 700;
    color: #1044bd;
    text-align: center;
}
.welcome-about{
    padding:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.welcome-photo img{
    margin : 10rem;
    transform: scale(2);
    width: 280px;
    border-radius: .6rem;
    height: 250px;
}
.welcome-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    color: #253b70;
}
.welcome-content h1{
    font-size: 4.4rem;
}
.welcome-p p{
    width: 80%;
    font-weight: 500;
}
.welcome-p-content{
    width: 80%;
    margin-top: 3rem;
}
.tick{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--tomato-color);
    padding: 1.5rem;
    position: relative;

}
.welcome-check-parent{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tick-content{
    position: absolute;
    top: -5%;
    left: 10%;
    font-size: 2.5rem;
}
.welcome-check-here{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.values-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.values-content h1{
    font-size: 4rem;
}
.values-content p{
    color: #253b70;
    font-weight: 500;
    text-align: center;
    width: 50%;
}
.about-card-img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.cards-here{
    margin-block: 5rem;
    display: flex;
    padding-inline: 10%;
    justify-content: space-between;
}
.card p{
    width: 90%;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}
.about-card-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
.games{
    padding: 1% 8%;
    margin-bottom: 5rem;
    justify-content: space-between;
    display: flex;
    gap: 6rem;
    align-items: center;
    color: #253b70;
}
.games div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.games img{
    width: 120px;
}
.join-section{
    color:#fff;
    padding: 3% 10%;
    background-color: var(--tomato-color);
    display: flex;
    justify-content: space-between;
}
.join-para{
    font-weight: 500;
    width: 45%;
    text-align: center;
}
.video{
    align-items: center;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.video div{
    border-radius: 8px;

    background-color: #253b70;
    padding: 1.2rem 1.6rem;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.video div:hover{
    scale: 1.1;
}

.video-container video{
    border-radius: 3.2rem;
    z-index: 9999;
    padding: 3rem;
    background-color: #000;
    display: flex;
    position: absolute;
    bottom:1%;
    right: 25%;
    transform: translateY(-50%);
    min-width: 1000px;
    justify-content: center;
    align-items: center;
}
/*SUCCESS COMPONENT*/
.success-compo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 100vh;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}
.success-compo img{
    transform: translateY(-3rem);
    scale: 2;
   width: 100px;
    height: 100px;
    border-radius: 50%;
}
.success-compo h1{
    color: var(--tomato-color);

}
.success-compo p{
    color: #253b70;
    font-weight: 500;
}
/*EVENTS*/
.event{
   
    align-items: center;
    justify-content: center;
    position: relative;
 
}
.event-heading{
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
}
.news-data{
    flex-wrap: wrap;
    display: flex;
    margin-block: 5rem;
    justify-content: center;
    align-items: center;
}
.news-content{
    border:1px solid #ccc;
    background-color: var(--white-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center
}
.news-content img{
    width: fit-content;
    height: 300px;
}

.teacher-background{
    padding-block: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background:linear-gradient(rgba(248, 58, 58, 0.2), rgba(197, 35, 35, 0.3)),
    url('teachermain.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: var(--white-color);
}
.teacher-background h1{
    font-family: var(--poppins);
    font-size: 6rem;
}
.teacher-background p{
    font-size: 1.8rem;
}
.teachers{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
}
.teacher-heading{
    color: var(--tomato-color);
    font-size: 3.4rem;
}
.teacher{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;

}
.teacher img{
    border-radius: 12px;
    width: 300px;
    
}
.teacher-name{
    text-align: center;
    color: var(--tomato-color);
}
.teacher p{
    font-weight: 500;
    color: #253b70;
}
/*ADMIN*/
.admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.admin-wrapper{
    align-items: center;
    padding-block: 10rem;
    padding-inline-start: 10rem;
    justify-content:center;
    gap: 10rem;
    display: flex;

}
.form-admin{
    display: flex;
    
}
.admin-banner{
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
    font-weight:500;
    background-blend-mode: color-burn;
}
.admin-banner img{
    width: 50px;
}

.admin-content{
    padding-block: 3rem;
}
.admin-interface{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.event-upload-btn{
    display: flex;
    justify-content: center;
}
.event-upload-btn button {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.admin-logout-btn button{
    margin: 2rem;
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 700;
    padding: 2rem;
    background-color: var(--tomato-color);
    transition: all 0.2s ease-in-out;
}
.admin-logout-btn button:hover{
    opacity: 0.7;
}

.admin-log-head{
    transform: translateY(1rem);
}
.admin input{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;

}
.admin-options{
   box-shadow:  0 0 10px #ccc;
   height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin img{
    width: 500px;
}
.admin-dash-li li{
    gap: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-block: 1px solid #ccc;
    padding: 2rem 5rem;
}

.event-upload-form input[type="text"]{
    border: 1px solid #ccc;
}
.event-upload-form textarea{
    max-height: 200px;
    border: 1px solid #ccc;
    min-height: 150px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 8px;
    padding: 2rem;
}
.image-upload{
    display: flex;
    justify-content: center;
}
/*Job Portal*/
.job-img img{
    width: 500px;
    margin: 5rem;
    border-radius: 3.2rem;
}
.job-hero{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-inline: 5%;
}
.job-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 5%;
}
.job-description h1{
    color:var(--tomato-color)
}
.job-description p{
    color: #253b70;
}
.teacher-input input[type="text"]{
    border: 1px solid #ccc;
    border-radius: 0px;
}
.teacher-input button{
    padding: 1.8rem;
    background-color: var(--tomato-color);
    color:var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s ease-in;   
}
.teacher-input button:hover{
    border: 1px solid #ccc;
    background-color: var(--white-color);
    color:var(--p-color)
}
.job-form form{
    padding: 3rem;
    margin-left: 10rem;

}
label {
    cursor: pointer;
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .upload-icon{
    color:var(--tomato-color);
    
 }
 .upload-btn{
    
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    transition: all 0.2s ease-in;
 }
 .upload-btn:hover{
    transform: scale(1.1);
 }
 .upload-photo{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
 }
.name-input{
    display: flex;
    flex-direction: column;
}
.name-input-cover{
    display: flex;
    gap: 3rem;
}
.name-input input[type="text"]{

    width: 200px;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.email-mobile-wrapper{
    margin-block: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.email-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.email-wrapper input[type="email"] {
    width: 200px;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
}
.mobile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.mobile-wrapper input[type="number"] {
    width: 200px;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;     
}
.address-wrapper{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
  
}
.address-wrapper textarea{
    max-height: 200px;
    min-height: 150px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 8px;
    padding: 2rem;
}
.job-apply-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
}
.job-apply-top-txt{
    background-color: var(--tomato-color);
    color: var(--white-color);
    padding: .5rem;
    border-radius: 8px;
}
.city-dob-wrapper{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}
.dob-wrapper{
    transform: translateY(-2.3rem);
    display: flex;
    flex-direction: column;
}
.dob-wrapper input[type="date"]{
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1rem;
}

@media screen and (max-width:1350px) {
    .banner{
        align-items: center;
        justify-content: center;
        padding-inline: 2rem;
      }
      .look-around-section{
        padding: 5rem;
      }
      .welcome-p p{
        width: 100%;
      }
      .form-area{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:5rem;
    }
    .kid-img-main{
        width: 300px;
    }
    .welcome-p-content{
        width: 100%;
        margin-top: 3rem;
    }
}
@media screen and (max-width:1024px) {
    .footer{
        flex-wrap: wrap
    }
    .values-content p{
        width: 100%;
    }
    .cards-here{
        justify-content: center;
        align-items: center;
        gap: 5rem;
         flex-wrap: wrap;
        }
        .about-photo{
            padding: 2rem;
        }
        .about-photo p{
            width: 100%;
        }
        .about-photo h1{
            font-size: 4rem;
        }
    html,body{
        margin:0;
        padding:0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      html{
        font-size: 58%;
      }
     
    .feature-cards{
        flex-wrap: wrap;
    }
    .look-around-section{
        padding: 10rem 5rem;
    }
    .look-around-section{
        flex-direction: column;
    }
    .all-features{
        width: 100%;
        padding-inline-start: 1rem;
        align-items: flex-start;
    }
    .welcome-about{
        flex-direction: column;
        width: 100%;
text-align: center;
    }
.welcome-content{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.kid-img-main{
    width: 200px;
}

}
  @media screen and (max-width:830px) {

    .look-around-section img{
        width: 35rem;
    }

.games{
 flex-wrap: wrap;
 justify-content: center;
}
  .banner-text h1{
    font-size: 3.5rem;
    width: 100%;
    padding: 0rem;
}
.banner-text p{
    width: 100%;
}

.oppurtunity-heading{
    width: 80%;
    font-size: 3.5rem;
}
.heading{
    width: 80%;
   
}
.heading p{
    font-size: 3.5rem;
}
.look-around-para h2{
    font-size: 3rem;
    width: 100%;
}

 .admission-steps{
    flex-direction: column;
 }
 .admission-card{
    padding: 3rem;
 }
 .step-arrow{
    transform: rotate(90deg);
}
}

  @media screen and (max-width:650px) {
.heading{
    width: 100%;
}
.look-around-btns{
    flex-wrap: wrap;
}
.banner{
    flex-direction: column;
}
.heading p{
    font-size: 3.5rem;
}
.feature-para{
    width: 100%;
}
.form-admission input[type="text"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 450px;

}
.form-admission input[type="email"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 450px;
}
.form-admission input[type="number"]{
    border: 1px solid #ccc;
    border-radius: 3.6rem;
    width: 450px;
    padding: 2rem;
}
.look-around-para{
    width: 100%;
}
.look-around-para h2{
    width: 100%;
}
.banner-text h1{
    font-size: 3rem;
}

.banner-text{
    text-align: center;
}

}
@media screen and (max-width:400px) {
  
    html{
        font-size: 45%;
    }
    .banner{
        padding-inline-start: 0.5rem;
    }
    .admission-card p,h2{
        width: 100%;
        padding: 5rem;
    }
    .nav-elements span{
        font-size: 1.8rem;
    }
    .form-admission input[type="text"]{
        border: 1px solid #ccc;
        border-radius: 3.6rem;
        width: 320px;
    
    }.form-admission input[type="email"]{
        border: 1px solid #ccc;
        border-radius: 3.6rem;
        width: 320px;
    }
    .form-admission input[type="number"]{
        border: 1px solid #ccc;
        border-radius: 3.6rem;
        width: 320px;
        padding: 2rem;
    }
    .form-heading1 h1{
        text-align: center;
    }
    .appoint-head h1{
        font-size: 3rem;
    }
}
  