@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
    --white-color:#fff;
    --lobster:'Lobster Two', sans-serif;
    --p-color:#103741;
    --tomato-color:tomato;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
body{
    padding: 0rem 7rem;
    font-family: var(--poppins);
    font-size: 1.6rem;
    background-color: #fff5f3;
}
.nav{
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--white-color);

}
.oxford-logo img{
    width: 10rem;
    height: 8rem;
}
.nav-elements{
    transform: translateY(-0.6rem);
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;
}
.join-us-btn button{
    padding: 1.5rem;
    font-weight: 700;
    border-radius: 1.2rem;
    background-color: var(--tomato-color);
    color: #fff;
}
.join-us-btn button:hover{
    border: 1px solid #000;
    background-color: rgb(255, 74, 71);
    cursor: pointer;
}
.gallery-dropdown{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
a{
    color:inherit;
    text-decoration: none;
}
.contact{
    background-color:var(--white-color)
}
.cover-photo{
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('contact-cover.jpg');
    background-size: cover;
    padding: 10rem 4rem;    

}
.cover-photo h1{
    font-size: 7.2rem;
    color: #fff;
    font-family: var(--lobster);
    font-weight: 700;
}
.join-us-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.join-us-txt p:nth-child(1){
    margin-top: 3rem;
    font-size: 4rem;
    font-family: var(--lobster);
    color:var(--p-color);
    font-weight: 700;
}
.join-us-txt p:nth-child(2){
    width: 50%;
    text-align: center;
}
.contact-icons{
    background-color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-inline-end: 5%;
}
.email-icon{
    padding: 1.8rem 2rem;
    border-radius: 50%;
    background-color: #fff5f3;
    width: fit-content;
}
.icon-parent{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.icon-parent p{
    font-weight: 500;
}

.form{
    background-color: #fff5f3;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    border-radius: 8px;
  
   
}
.form-heading{
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap:2rem;
}
input[type="text"]{
    outline: none;
    padding: 2rem 3rem;
    border-radius: 8px;
    font-size: 1.6rem;


}
::placeholder{
    font-family: var(--poppins);
    font-size: 1.6rem;
}
.name-email{    
display: flex;
align-items: center;
gap: 2rem;
}
.subjects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subjects textarea{
    border: none;
    padding: 2rem;
    outline: none;
    border-radius: 8px;
    max-width: 530px;
    min-width: 530px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    

}
.form-area{
display: flex;
justify-content: center;
    background-color: var(--white-color);
    margin-top: 5rem;
    
}
input[type="submit"]{
    border: none;
    outline: none;
    padding: 1.6rem;
    font-family: var(--poppins);
    background-color: var(--tomato-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
}
.fill-details-txt{
    font-family: var(--lobster);
    font-size: 4rem;
    margin: 2rem 0rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    background-color: #103741;
    padding: 5rem 6rem;

}
.address-area div{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.address-area{
    margin-block:2rem;
    color: #cccccca1;
    display: flex;
    flex-direction: column;
    position: relative;
    gap:1rem;
}
.address-area div {
    transition: all 0.2s ease-in;
}
.address-area div:hover{
    color: var(--tomato-color);
    scale:1.070;  
    cursor: pointer;
}
.facebook{
    border: 1px solid #ccc;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
}
.img-area{
    margin-top: 1rem;
    width: 300px;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.img-area img{
    border: 5px solid var(--white-color);
    width: 90px;
    border-radius: 8px;
}
.address-section h2{
    font-size: 2.8rem;
    color: #fff;
    font-family: var(--lobster);
}
.news-letter{
    width:300px;
}
.newsletter-input{
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #ccc
}
.footer-links{
    display: flex;
    flex-direction: column;
  
}

.address-section:nth-child(2){
    display: flex;
    flex-direction: column;
}
.newsletter-btn{
    border: none;
    outline: none;
    background-color: var(--tomato-color);
    position: absolute;
    bottom: 3%;
    right: 2%;
    border-radius: 8px;
    color:#fff;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.6rem;
}
.footer-links{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}
.footer-links div{
    transition: all 0.3s ease-in;

}
.footer-links div:hover{

    cursor: pointer;
    display: flex;
    background-color: tomato;
}

/*#95FF00*/

