@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
    --white-color:#fff;
    --lobster:'Lobster Two', sans-serif;
    --p-color:#103741;
    --tomato-color:tomato;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
body{
    font-family: var(--poppins);
    font-size: 1.6rem;
    overflow-x: hidden;
}
.nav{
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--white-color);
}
.oxford-logo img{
    width: 100%;
    height: 10rem;
}
.nav-elements{
transform: translateY(-0.6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in;

}
.nav-elements span{
    position: relative;
}

.nav-elements span:before{
    content:"";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav-elements span:hover:before{
    width: 100%;
}
.join-us-btn button{
    padding: 1.5rem;
    font-weight: 700;
    border-radius: 1.2rem;
    background-color: var(--tomato-color);
    color: #fff;
    transition: all 0.3s ease-in;
}
.join-us-btn button:hover{
    background-color: rgba(255, 74, 71, 0.773);
    cursor: pointer;
}
.gallery-dropdown{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
a{
    color:inherit;
    text-decoration: none;
}
.contact{
    background-color:var(--white-color)
}
.cover-photo{
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('contact-cover.jpg');
    background-size: cover;
    padding: 13rem 4rem;   
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-weight: 500;

}
.cover-photo h1{
    font-size: 6rem;
    padding: 1rem;
}
.join-us-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.join-us-txt p:nth-child(1){
    margin-top: 3rem;
    font-size: 4rem;
    color:var(--p-color);
    font-weight: 500;
}
.join-us-txt p:nth-child(2){
    width: 50%;
    text-align: center;
}
.contact-icons{
    background-color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-inline-end: 5%;
}
.email-icon{
    padding: 1.8rem 2rem;
    border-radius: 50%;
    background-color: #fff5f3;
    width: fit-content;
}
.icon-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.icon-parent p{
    font-weight: 500;
}
.form{
    background-color: #fff5f3;
    display: flex;
    flex-direction: column;
    padding:0rem 5rem;
    border-radius: 8px;
}
.form-heading{
    padding-inline: 1rem;
    gap:2rem;
}
input[type="text"]{
    border: none;
    outline: none;
    padding: 2rem 3rem;
    border-radius: 8px;
    font-size: 1.6rem;
}
::placeholder{
    font-family: var(--poppins);
    font-size: 1.6rem;
}
    .name-email{    
    display: flex;
    align-items: center;
    gap: 2rem;
    }
.subjects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subjects textarea{
    border: none;
    padding: 2rem;
    outline: none;
    border-radius: 8px;
    max-width: 530px;
    min-width: 530px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-area{
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    margin-block: 5rem;   
}
input[type="submit"]{
    border: none;
    outline: none;
    padding: 1.6rem;
    font-family: var(--poppins);
    background-color: var(--tomato-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
input[type]
.fill-details-txt{
    font-family: var(--poppins);
    font-size: 4rem;
    margin: 2rem 0rem;
}
.map-image{
    width: 200px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
}
.map-image:hover{
    transform: translateY(-1rem);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #253b70;
    padding: 1rem 6rem;
}
.more-box{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1.8rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 1.8rem;
    transition: all 0.2s ease-in;
    height: 100%;
    opacity: 0.5;
}
.more-box:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #fff;
}
.address-area div{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    
}
.address-footer{
    display: flex;
    width: 50%;
}
.address-area{
    margin-block:2rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    position: relative;
    gap:1rem;
}
.address-area input[type="text"]{
    border: 1px solid #ccc;
}
.address-area div {
    transition: all 0.2s ease-in;
}
.address-area div:hover{
    color: var(--tomato-color);
    scale:1.070;  
    cursor: pointer;
}
.facebook{
    border: 1px solid #ccc;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
}
.img-area{
    margin-top: 1rem;
    width: 300px;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.img-area img{
    border: 5px solid var(--white-color);
    width: 90px;
    border-radius: 8px;
}
.address-section h2{
    font-size: 2.5rem;
    color: #fff;
}
.news-letter{
    width:300px;
}
.newsletter-input{
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #ccc;
    color:var(--white-color)
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.address-section:nth-child(2){
    display: flex;
    flex-direction: column;
}
.newsletter-btn{
    border: none;
    outline: none;
    background-color: var(--tomato-color);
    position: absolute;
    bottom: 4%;
    right: 2%;
    border-radius: 8px;
    color:#fff;
    padding: 1.2rem;
    font-weight: 700;
    font-size: 1.6rem;
}
.footer-links{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}
.footer-links div{
    transition: all 0.3s ease-in;
}
.footer-links div:hover{
    cursor: pointer;
    display: flex;
    background-color: tomato;
}
.tomato{
    color:#253b70;
}
/*#95FF00*/

@media screen and (max-width:768px) {
    .mobile-navbar-btn{
        display: inline-block;

        .mobile-nav-icon{
            font-size: 4.2rem;
            z-index: 99999;
        }
    }
    .nav-elements{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top:10%;
        left:0;
        transform: translate(100%);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        font-size: 3rem;
        z-index: 111;
    }
    .active .mobile-nav-icon{
        display: none;
        font-size: 4rem;
        position: absolute;
        top:5%;
        right: 4%;
        color: #000;
    }
    .active .close-outline{
        display: inline-block;
    }
    .active .nav-elements{
        box-shadow: 0 0 10px #ccc;
        padding: 2rem;
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        width: 50%;
        background-color: #fffdfd;
        z-index: 999;
        top:-3%;
    }
  }